<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item-left">
        <a href="./homepage" class="nav-link">Početna</a>
      </li>
      <li class="nav-item-right">
        <a href="./" class="nav-link">Odjavi se</a>
      </li>
    </ul>
</nav>


<div class="container">
    <h1 class="game-title">Vežbajte i postanite bolji igrač!</h1>

    <div class="button-row">
        <button (click)="playGame(4)">Slovoteka</button>
        <button (click)="playGame(1)">Moj broj</button>
        <button (click)="playGame(2)">Skočko</button>
    </div>

    <div class="button-row">
        <button (click)="playGame(3)">Korpa</button>
        <button (click)="playGame(5)">Ko zna zna</button>
        <button (click)="playGame(6)">Asocijacije</button>
        <button>U pripremi</button>
    </div>
</div>