.title {
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
  }
  
  .nav-item-right {
    margin-left: auto; 
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .nav-link:hover {
    background-color: #333;
    color: #fff;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .square-button {
    width: 50px;
    height: 50px;
    background-color: #21a728; 
    margin-right: 10px;
    color: white;
    font-size: 24px;
  }

  .square-button:hover {
    background-color: #78eb74;
  }
  
  .square-button:active {
    background-color: #018522;
    box-shadow: none;
  }

  .kasa{
    background-color: rgb(0, 255, 55);
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    margin-top: 100px;
  }

  .kasa-msg{
    font-size: 24px;
    text-align: center;
    color:  black; 
    background-color: #96e09a;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .korpa-container {
    display: flex;
  }
  
  .left-side {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }
  
  .right-side {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }

  .center-side {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .square-button-blue {
    width: 50px;
    height: 50px;
    background-color: #1100ff;
    margin: 5px;
    color: white;
    font-size: 24px;
  }

  .square-button-blue:hover {
    background-color: #25d8f8;
  }
  
  .square-button-blue:active {
    background-color: #0e0185;
    box-shadow: none;
  }
  
  .square-button-red {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    margin: 5px;
    color: white;
    font-size: 24px;
  }

  .square-button-red:hover {
    background-color: #f89595;
  }
  
  .square-button-red:active {
    background-color: #741414;
    box-shadow: none;
  }

  .square-button-green {
    width: 50px;
    height: 50px;
    background-color: rgb(0, 255, 55);
    margin: 5px;
    color: black;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
  }

  .square-button-green:hover {
    background-color: #78eb74;
  }
  
  .square-button-green:active {
    background-color: #018522;
    box-shadow: none;
  }


  .timer {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #7a7a7ae7;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-blue{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 50px;
  }

  .player-red{
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 50px;
  }

  .row-container {
    display: flex;
  }
  
  .left-side {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }
  
  .right-side {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }

  .center-side {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }